footer{
    @media only screen and (max-width: 575px) {
        text-align: center;
        padding-top: 1em !important;
        .ft-left{
            margin-bottom: 8px;
            img{
                display: none;
            }
        }
    }
    position: absolute;
    bottom: 0;
    font-size: $size-10;
    line-height: 16px;
    padding-top: 2em;
    padding-left: 8%;
    padding-right: 8%;
    width: 100%;
    height: 64px;
    background: $color-231f20;
    .ft-left{
        color: $color-white;
        img{
            width: 94px;
            height: auto;
        }
        span{
            text-transform: uppercase;
           }
    }
    .ft-right{
        text-transform: uppercase;
        color: $color-808080;
        text-align: right;
        @media only screen and (max-width: 575px) {
            text-align: center;
        }
    }
}