@mixin join-btn {
    width: 18em;
    height: 3em;
    background: red;
    border-radius: 2em;
    color: white;
    text-transform: uppercase;
    img{
        width: 30px;
        height: auto;
        padding-bottom: 0.5em;
        margin-left: 1em;
    }
}