@mixin join-btn {
    width: 18em;
    height: 3em;
    background: red;
    border-radius: 2em;
    color: white;
    text-transform: uppercase;
    img{
        width: 30px;
        height: auto;
        padding-bottom: 0.5em;
        margin-left: 1em;
    }
}

@mixin claim-btn {
    &:hover{
        background: $color-red-hover;
    }
    font-size: 1em;
    text-transform: uppercase;
    text-align: left;
    height: 100%;
    width: 100%;
    border-radius: 0;
    background: $color-red;
    color: $color-white;
    .row-claim{
        .claim-left{
            .br-claim{
                @media only screen and (max-width: 575px) {
                    display: none;
                }
            }
        }
        .claim-right{
            img{
                padding-top: 1em;
                padding-left: 1em;
            }
        }
    }
}