@import "variable";
@import "mixin";
body{
    max-width: 1440px;
    margin: 0; 
    margin: 0 auto;
    padding: 0;
    font-size: 24px;
    //font-family: Arial, Helvetica, sans-serif;
}
header{
    height: 104px;
    @media only screen and (max-width: 767px) {
        height: 44px;
    }
    @media only screen and (min-width: 1024px) {
        padding-top: 0.5em;
    }
    #collapsibleNavId{
        background: white;
        z-index: 500;
    }
    .navbar{
        width: 100%;
        justify-content: center;
        @media only screen and (max-width: 767px) {
            justify-content: space-between;
            height: 44px;
            padding: 0;
        }

        a{
            .logo{
                margin-left: 0.5em;
                @media only screen and (max-width: 1024px) {
                    margin-left: 0.5em !important;
                }
                @media only screen and (max-width: 767px) {
                    width: 4em !important;
                }

            }
        }
        .navbar-toggler {
            border: none;
            outline: none;
            .navbar-toggler-icon{
                background-image: url('../img/svg/Vector.svg');
                height: 1em;
            }
        }
        #collapsibleNavId{
            flex-grow: 0;
            ul{
                text-align: right;
                .nav-form{
                    padding-right: 0;
                }
                li{
                    .form-inline{
                        @media only screen and (max-width: 767px) {
                           display: none;
                        }
                        .input-group{
                            width: 100%;
                            @media only screen and (min-width: 1024px) {
                                width: 17em !important;
                            }
                            span{
                                @media only screen and (max-width: 768px) {
                                    padding-left: 15% !important;
                                    height: 2.6em !important;
                                }
                                border: 1px solid $color-red;
                                border-right: none;
                                background: white;
                                border-bottom-left-radius: 3em;
                                border-top-left-radius: 3em;
                                height: 3.6em;
                                padding-left: 40%;
                                i{
                                    font-size: 16px;
                                    color: $color-383838;
                                    padding: 0.5em;
                                }
                            }
                            input{
                                padding-left: 0.5em;
                                border: 1px solid $color-red;
                                border-left: none;
                                font-size: 16px;
                                padding-top: 0;
                                border-bottom-right-radius: 3em;
                                border-top-right-radius: 3em;
                                &:focus{
                                    box-shadow: none;
                                }
                            }
                        }
                    }
                    
                    a{
                        @media only screen and (max-width: 768px) and (min-width: 767px) {
                            padding-left: 0 !important;
                            font-size: 12px !important;
                        }

                        font-size: 16px;
                        img{
                            height: 1.7em;
                            width: 1.7em;
                        }
                    }
                    
                    button{
                        @media only screen and (max-width: 768px) {
                            padding: 0.5em 1em !important;
                            font-size: 13px;
                        }
                        height: 3em;
                        font-size: 14px;
                        line-height: 16px;
                        padding: 0.5em 1.7em;
                        color: $color-white;
                        text-transform: uppercase;
                        border: none;
                        background: $color-red;
                        border-radius: 2em;
                        &:focus{
                            outline: 0;
                        }
                        &:hover{
                            background: $color-white;
                            border: 1px solid $color-red;
                            color: $color-red;
                        }
                    }
                }
                .menu-row{
                    @media only screen and (max-width: 767px) {
                        padding: 0 !important;
                    }                    
                }
                .menu-item{
                    margin-top: 0.15em;
                    &:hover{
                        a{
                            color: $color-red;
                        }
                    }
                    a{
                        font-weight: 600;
                        color: $color-4a4a4a;
                    }
                }
                .img-btn-row{
                    padding: 0;
                    .img-btn{
                    
                        @media only screen and (max-width: 767px) {
                            a{
                                display: none;
                            }
                            button{
                                background: none;
                                color: $color-red;
                                font-weight: 600;
                                text-transform: capitalize;
                            }
                        }
                    }
                    .img-btn-btn{
                        padding: 0;
                    }
                }
            }
        }
    }
}

//panel
.section-panel{
    @media only screen  and (max-width:414px){
       
        height: 574px !important;
        .bg-op{
            height: 100%;
           
        }
        .borwse{
            width: 90%;
            left: 7.5%;
            bottom: 3em;
        }
    }
    .bg-op{
        background: $color-black-07;
        height: 100%;
        width: 100%;
        opacity: 0.7;
        background-image: url('../img/png/architectural.png');
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        @media only screen and (max-width: 575px) {
            background-image: url('../img/png/Image.png') !important;
        }
        z-index: -1;
        position: absolute;
    }
    .row-panel{
        position: relative;
        //top: -100%;
        z-index: 1;
        margin: 0;
    }
    
    @media only screen and (max-width: 1024px) and (min-width: 767px){
        height: 24em !important;
    }
    position: relative;
    height: 30em;
    width: 100%;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;

    .panel-left{
        padding-left: 3em;
        padding-top: 15%;

        .panel-title{
            color: $color-white;
            font-size: $size-lg;
            line-height: 1.2em;

            span{
                color: $color-red;
            }
        }
        @media only screen and (min-width: 1200px) {
            padding-top: 10% !important;
        }
        @media only screen and (max-width: 991px) {
            padding-left: 1em !important;
        }
        @media only screen and (max-width: 1024px) {
            padding-left: 1em !important;
            padding-top: 8% !important;
        }
        @media only screen and (max-width: 768px) {
            padding-left: 1em !important;
            padding-top: 14% !important;
        }
        @media only screen and (max-width: 414px) {
            padding-top: 0 !important;
            padding-left: 2em !important;
            .panel-title{
                padding-top: 4em !important;
                font-size: 36px !important;
                width: 80%;
            }
            .p-body{
                display: none;
                font-size: 16px;
            }
        }
        p{
            color: $color-white;
            width: 80%;
            margin-top: 16px;
            @media only screen and (max-width: 991px) {
                width: 100% !important;
            }
        }
    }
    .p-bottom{
        position: absolute;
        bottom: 2.5em;
        left: 3em;
        color: white;
        font-size: 24px;
        line-height: 28px;
        @media only screen and (max-width: 575px) {
            font-size: 12px;
            line-height: 14px;
            bottom: 19em;
        }
        @media only screen and (max-width: 1024px) {
            left: 1.5em;
        }
        @media only screen and (max-width: 320px) {
            bottom: 21em;

        }
    }
    .browse{
        
        @media only screen and (max-width: 575px) {
            height: auto;
            left: 8.5%;
            bottom: 4em;
            font-size: 16px;
            .browse-looking{
                padding-left: 2em;
            }
            .borwse-investor{
                padding-top: 1em !important;
                padding-left: 0 !important;
                form{
                    width: 70px !important;
                }
            }
            .browse-funding{
                padding: 1em;
                padding-left: 2em !important;
            }
            .browse-btn{
                height: 56px;
                .claim{
                    .claim-left{
                        font-size: 14px;
                        line-height: 16px;
                        padding-top: 0.5em;
                        padding-left: 2em;
                        .br-claim{
                            display: none;
                        }
                    }
                    .claim-right{
                        img{
                            margin-top: -0.5em;
                            margin-left: -1em;
                            width: 1.5em;
                        }
                    }
                }
            }
        }
        @media only screen and (max-width: 1024px) {
            width: calc(100% - 2em);
            left: 1em;
        }
        color: $color-footer;
        height: 112px;
        background: $color-white;
        width: calc(100% - 6em);
        left: 3em;
        margin: 0 auto;
        position: absolute;
        bottom: -2em;
        box-shadow: 0px 0px 4px #888888;
        z-index: 100;
        select{
            font-size: 0.8em;
            width: 80%; 
        }
        .browse-looking{
            color: $color-footer;
            padding-top: 1.5em;
        }
        .borwse-investor{
            color: $color-footer;
            padding-top: 1.5em;
        }
        .browse-funding{
            padding-left: 2.5em;
            position: relative;
            color: $color-footer;
            padding-top: 1.5em;
            span{
                position: absolute;
            }
            form{
                display: inline-block;
                margin-left: 45px;
                select{
                    color: $color-a7a9ac;
                }
            }
        }
        .browse-btn{
            padding: 0;
           .claim{
            @include claim-btn;
            font-size: 20px !important;
            .claim-right{
                img{
                    padding-top: 0 !important;
                    padding-left: 0 !important;
                }
            }
           }
        }
        .select-box{
            @media only screen and (max-width:1023px) {
                width: 145px !important;
            }
            width: 165px;
            overflow: hidden;
            border-bottom: 1px solid $color-red;
            position: relative;
        }
        .select-box:after{
            width: 0; 
            height: 0; 
            border-left: 6px solid transparent;
            border-right: 6px solid transparent;
            // border-top: 6px solid #f00;
            position: absolute;
            top: 25%;
            right: -10px;
            content: ">";
            z-index: 98;
            transform: rotate(90deg);
            color: red;
         }
        .select-box select{
            @media only screen and (max-width:1023px) {
                width: 150px !important;
            }
            width: 165px;
            border: 0;
            position: relative;
            z-index: 99;
            background: none;    
            -webkit-appearance: none;
            -moz-appearance: none;
            &::-ms-expand {
                display: none;
            }
        }
    }
}

//birdging
.birdging{
    .row{
        margin: 0;
    }
    .build{
        text-align: right !important;
        @media only screen and (min-width: 1000px) {
            padding-top: 5em !important;
        }
        @media only screen and (max-width: 1024px) {
            padding-right: 2em !important;
        }
        @media only screen and (max-width: 768px) {
            padding-right: 1em !important;
        }
    }
    .birdging-left{
        @media only screen and (min-width: 1366px) {
            padding-top: 7em;
        }
        @media only screen and (max-width: 1200px) {
            padding-right: 1em !important;
        }
        padding: 3em;
        padding-bottom: 0;
        text-align: left;
        @media only screen and (max-width: 1024px) {
            padding: 1em;
            padding-top: 2em;
            .join{
                margin-top: 2em !important;
            }
        }
        @media only screen and (max-width: 768px) {
            padding: 1em !important;
            h1{
                font-size: 1em;
                padding-top: 2em;
            }
            p{
                font-size: 0.8em
            }
            .join{
                margin-top: 2em !important;
            }
        }
        @media only screen and (max-width: 414px) {
            padding: 1em;
            .join{
                margin-top: 1em !important;
            }
        }
        h1{
            color: $color-383838;
            line-height: 1.2em;
            margin-bottom: 1em;
            font-weight: 700;
            @media only screen and(max-width: 1024px) {
                margin-bottom: 0.5em;
            }
            @media only screen and (max-width: 375px) {
                font-size: 32px;
                line-height: 40px;
            }
        }
        p{
            color: $color-383838;
            line-height: 1.35em;
            margin: 0;
            @media only screen and (max-width: 375px) {
                font-size: 14px;
                line-height: 24px;
            }
        }
        .join{
            @media only screen and (max-width: 1365px) {
                margin-top: 1em !important;
            }
            margin-top: 2em;
            @include join-btn;
            &:hover{
                background: $color-white;
                border: 1px solid $color-red;
                color: $color-red;
            }
            @media only screen and (max-width: 375px) {
                font-size: 14px !important;
                line-height: 16px !important;
            }
            
        }
    }
    .birdging-right{
        padding: 0;
        img{
            width: 100%;
            height: auto;
        }
        .img-none{
            @media only screen and (max-width:414px) {
                display: none;
            }
        }
    }
}

// tech
.tech{
    width: 100%;
    .row-tech{
        margin: 0;
        padding-left: 3em;
        @media only screen and (max-width: 1024px) {
            padding-left: 1em;
        }
        border-top: 1px solid $color-black-008;
        border-bottom: 1px solid $color-black-008;
        @media only screen and (max-width: 1024px) {
            .tech-right{
                .claim{
                    font-size: 0.8em !important;
                }
            }
        }
        @media only screen and (max-width: 414px) {
            .tech-left{
                text-align: left !important;
                span{
                    font-size: 12px !important;
                    line-height: 16px !important;
                }
                h1{
                    font-size: 36px !important;
                    line-height: 40px !important;
                }
                p{
                    font-size: 14px !important;
                    line-height: 16px !important;
                }
            }
            .tech-between{
                p{
                    font-size: 16px !important;
                    line-height: 19px !important;
                }
                h6{
                    font-size: 12px !important;
                    line-height: 16px !important;
                }
            }
            .tech-right{
                .claim{
                    font-size: 0.8em !important;
                }
            }
        }
        .tech-left{
            padding-left: 0;
            margin-top: 1em;
            margin-bottom: 1em;
            line-height: 0.8em;
            border-right: 1px solid $color-red; 
            text-align: left;
            span{
                font-size: 20px;
                color: $color-808080;
                letter-spacing: -0.5px;
                line-height: 6px;
                .br-tech{
                    display: none;
                    @media only screen and (max-width: 414px){
                        display: inline-block;
                    }
                }

            }
            h1{
                font-size: 58px;
                line-height: 1em;
                color: $color-red;
            }
            p{
                font-size: 20px;
                line-height: 23px;
                margin-bottom: 0;
                color: $color-383838;
                text-transform: uppercase;
            }
        }
        .tech-between{
            padding-top: 1em;
            padding-bottom: 1em;
            @media only screen and (max-width: 575px) {
                padding-right: 1em;
            }
            p{
                font-weight: 600;
                font-size: 1em;
                line-height: 28px;
                color:  $color-383838;
            }
            h6{
                font-size: $size-16;
                line-height: 24px;
                color: $color-383838;
            }
        }
        .tech-right{
            padding: 0;
            @media only screen and (max-width: 575px) {
                margin-left: -1em;
            }
            .claim{
                @media only screen and (max-width: 575px) {
                    text-align: center;
                    .claim-left{
                        font-size: 14px;
                        line-height: 16px;
                        padding-top: 0.5em;
                    }
                }
                @media only screen and (max-width: 375px) {
                    text-align: center;
                }
                @include claim-btn;
                .claim-left{
                    @media only screen and (max-width: 879px) {
                        word-wrap: break-word;
                        word-break: break-word;
                        white-space: normal;
                    }
                }
                .claim-right{
                    img{
                        @media only screen and (max-width: 575px) {
                            margin-top: -1.5em;
                            margin-left: -1em;
                            width: 2.5em;
                        }
                    }
                }
            }
        }
    }
}

.landscape{
    margin-bottom: 2em;
    h1{
        @media only screen and (max-width: 414px) {
            font-size: 32px;
            line-height: 27px;
            margin-bottom: 1em;
        }
        margin-top: 1em;
        font-size: 60px;
        font-weight: 800;
        color: $color-red;
        span{
            color: $color-383838;
        }
    }
    h5{
        @media only screen and (max-width: 414px) {
            font-size: 14px;
            line-height: 16px;
        }
        text-transform: uppercase;
        color: $color-4a4a4a;
        margin-top: 1em;
    }
    .img-desktop{
        width: 80%;
        height: auto;
        margin-top: 4em;
        @media only screen and(max-width: 414px) {
            display: none;
        }
    }
    .img-mobile{
        display: none;
        @media only screen and(max-width: 414px) {
            display: block;
        }
    }
}

.sector{
    padding: 3em;
    @media only screen and (max-width: 1024px) {
        padding: 1em !important;
    }
    @media only screen and (max-width: 414px){
            h2{
                font-size: 32px !important;
                line-height: 40px !important;
                .br-sector{
                    display: block !important;
                }
            }
    }
    h2{
        font-size: 40px;
        font-weight: 700;
        margin-bottom: 1em;
        .br-sector{
            display: none;
        }
    }
    .sector-btn{
        text-align: left;
        button{
            background: white;
            border: 1px solid $color-red;
            margin-right: 0.5em;
            margin-bottom: 1em;
            &:hover{
                background: $color-red;
                border: 1px solid $color-red;
                color: $color-white;
            }
            @media only screen and (max-width: 414px) {
                font-size: 12px;
                line-height: 14px;
                margin-right: 0;
                margin-bottom: 0;
            }
        }
        .btn-active{
            background: $color-red;
            color: $color-white;
        }
    }
}

//round

.round {
    @media only screen and (max-width: 1024px) {
        padding: 1em;
        padding-top: 2em;
    }
    
    padding: 3em;
    background: $color-round;
    h2{
        color: $color-white;
        text-align: center;
        margin-bottom: 1em;
        font-size: 40px;
        @media only screen and (max-width: 414px) {
            font-size: 32px;
            line-height: 47px;
            text-align: left;
            margin-bottom: 0.5em;
            br{
                display: block !important;
            }
        }
        br{
            display: none;
        }
        span{
            color: $color-red;
        }
    }
    .row-out{
        .list-box{
            .row-in{
                background: $color-white;
                margin: 1em 0.1em;
                .box-left{
                    @media only screen and (max-width: 414px) {
                        padding-left: 0.1em;
                    }
                    @media only screen and (min-width: 1367px) {
                        padding-left: 0.5em;
                    }
                    border-right: 1px solid $color-red;
                    padding: 0;
                    padding-top: 0.5em;
                    padding-bottom: 0.5em;
                    padding-left: 0.4em;
                    p{
                        text-transform: uppercase;
                        margin: 0;
                        color: $color-808080;
                        font-size: 24px;
                        line-height: 28px;
                    }
                }
                .box-between{
                    padding-top: 0.5em;
                    padding-bottom: 0.5em;
                    p{
                        font-size: 20px;
                        line-height: 23px;
                        color: $color-red;
                    }
                    small{
                        display: block;
                        font-size: 16px;
                        line-height: 19px;
                        margin-top: 16px;
                        color: $color-383838;
                    }
                }
                .box-right{
                    padding-top: 0.5em;
                    padding-bottom: 0.5em;
                    img{
                        width: 100%;
                        height: auto;
                    }
                }
            }
        }
    }
}

//vision
.vision{
    background-image: url('../img/png/Rectangle9.png');
    background-position: center center;
    background-size: cover;
    padding-bottom: 5em;
    padding-top: 5em;
    h2{
        @media only screen and (max-width: 414px) {
            font-size: 32px;
            line-height: 67px;
            text-align: left;
            padding-left: 1em;
        }
        color: $color-white;
        font-size: 40px;
        line-height: 67px;
        text-transform: uppercase;
        margin-bottom: 0.8em;
        span{
            color: $color-red;
        }
    }
    button{
        @include join-btn;
        &:hover{
            background: $color-white;
            border: 1px solid $color-red;
            color: $color-red;
        }
        @media only screen and (max-width: 414px) {
            margin-left: -4em;
        }
        @media only screen and (max-width: 375px) {
            margin-left: -2em;
        }
    }
}

//footer
footer{
    .row{
        margin: 0;
    }
    @media only screen and (max-width: 1024px) {
        padding-left: 1em;
        padding-right: 1em;
    }
    padding-left: 3em;
    padding-right: 3em;
    background: $color-footer;
    padding-top: 1em;
    h3{
        color: $color-white;
        font-size: 14px;
        line-height: 16px;
        margin-bottom: 1em;
        text-transform: uppercase;
    }
    ul{
        list-style-type: none;
        padding-left: 0;
        font-size: 12px;
        color: $color-979797;
        li{
            margin-bottom: 0.5em;
        }
    }
    .footer-end{
        padding-right: 0;
        img{
            width: 90%;
            height: auto;
            margin-bottom: 1em;
        }
        text-align: right;
        @media only screen and (max-width: 575px) {
            text-align: left !important;
        }
        ul{
            li{
                margin-bottom: 0.1em !important;
            }
        }
    }
    .copy-right{
        width: 100%;
        font-size: 10px;
        line-height: 16px;
        padding-bottom: 1em;
        .cp-r-row{
            border-top: 1px solid $color-border-cp-r;
            padding-top: 1em;
            .cp-r-1{
                .cp-r-btn{
                    
                    border-right: 1px solid $color-808080;
                   
                }
                
                button{
                    padding: 0;
                    line-height: 0.5em;
                    border: 0;
                    background: none;
                  
                    
                    @media only screen and (max-width: 575px) {
                        text-transform: uppercase;
                    }
                    a{
                        color: $color-copy-right;
                    }
                }
            }
            .cp-r-2{
                p{
                    color: $color-808080;
                    text-align: left;
                    margin: 0;
                    @media only screen and (max-width: 575px) {
                       text-align: center;
                       margin-top: 2em;
                    }
                }
            }
            .cp-r-3{
                p{
                    @media only screen and (max-width: 575px) {
                        text-align: center;
                        margin-top: 1em;
                        margin-bottom: 1em;
                    }
                    text-align: right;
                    color: $color-white;
                    text-transform: uppercase;
                    margin: 0;
                }
            }
        }
    }
}